.films {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.center {
  min-height: calc(100vh - 70px - 10vh);
  margin-left: 25%;
  margin-right: 25%;
}

.filters {
  display: flex;
  gap: 1rem;
}
